---
import { actions } from "astro:actions";

interface Props {
  productId: string;
}

const { productId } = Astro.props;
---

<form
  class="delete_product__form"
  method="POST"
  action={actions.products.deleteProduct}
>
  <input type="text" name="productId" value={productId} hidden />
  <button>Eliminar</button>
</form>

<style>
  .delete_product__form button {
    padding: 0.5rem;
  }
</style>
