---
import { SignIn } from "auth-astro/components";
import { getSession } from "auth-astro/server";
import MainMenu from "../../MainMenu.astro";

const session = await getSession(Astro.request);

const user = session?.user;
---

<div class="google_signin">
  {
    session ? (
      <MainMenu
        userName={user?.name}
        userImage={user?.image}
        userRole={user?.role}
      />
    ) : (
      <SignIn
        class:list={["primary_button", "centered_button", "google_signin"]}
        provider="google"
      >
        Acceder
      </SignIn>
    )
  }
</div>

<style>
  .google_signin {
    padding: 0.5rem;

    font-size: medium;
  }
</style>
