---
import { Icon } from "astro-icon/components";
---

<p class="market_form__warning">
  <Icon name="mdi:lightbulb-question-outline" color="orange" size={30} />
  Después de enviar el formulario, debe esperar algunos minutos a que el mercado
  se publique correctamente.
</p>

<style>
  .market_form__warning {
    margin-top: 2rem;
  }
</style>
