---
import { Icon } from "astro-icon/components";
---

<p class="market_form__warning">
  <Icon name="mdi:lightbulb-question-outline" color="orange" size={30} />
  Para actualizar los cambios en su mercado debe presionar "Publicar mercado". Al
  crear/editar algún producto su mercado no se actualizará, sólo se actualizará presionando
  "Publicar mercado". <br />
  Después de presionar "Publicar mercado", debe esperar algunos minutos a que el
  mercado se publique y actualize correctamente.
</p>

<style>
  .market_form__warning {
    margin-top: 2rem;
  }
</style>
