---
import { Routes } from "@utils/routes";
import { Icon } from "astro-icon/components";

interface Props {
  marketId: string;
  marketName: string;
}

const { marketId, marketName } = Astro.props;

const pathname = Astro.url.pathname;
---

<li class="sidebar_market__item">
  <a href={Routes.adminMarkets(marketId)}>{marketName}</a>
  <a
    href={pathname + `?deleteMarket=${marketId}`}
    aria-label="Eliminar mercado"
    title="Eliminar mercado"
    class="sidebar_market__delete"
  >
    <Icon name="mdi:delete" size={20} />
  </a>
</li>

<style>
  .sidebar_market__item {
    list-style: none;

    display: flex;
    align-items: center;

    justify-content: space-between;

    margin-bottom: 0.5rem;
  }

  .sidebar_market__delete {
    display: flex;
    align-items: center;
  }
</style>
