---
interface Props {
  class?: string;
  modalId?: string;
}

const { class: className, modalId } = Astro.props;
---

<button id={"open_modal" + modalId} class={className}>
  <slot />
</button>

<script is:inline define:vars={{ modalId }}>
  const button = document.getElementById("open_modal" + modalId);

  button.addEventListener("click", () => {
    if (modalId) {
      const dialog = document.getElementById(modalId);
      if (dialog) {
        dialog.showModal();
      }
    }
  });
</script>
