---
import CartListItems from "@components/markets/cart/CartListItems.astro";
import CartResume from "@components/markets/cart/CartResume.astro";
import CompleteBuy from "@components/markets/cart/forms/CompleteBuy.astro";
import { getCartItems, getCartSubtotal } from "@data/cart";
import { getMarketByProductId } from "@data/markets";
import Layout from "@layouts/Layout.astro";
import { Routes } from "@utils/routes";

const cartItems = await getCartItems(Astro);

if (!cartItems || cartItems.length <= 0) return Astro.redirect(Routes.home);

const subtotalByCurrency = await getCartSubtotal(Astro);

const itemsCount = cartItems?.length || 0;

const productId = cartItems[0].productId;

const market = await getMarketByProductId(productId);

if (!market || !market.contact) return Astro.redirect(Routes.home);
---

<Layout title="Mi carro de compras">
  <main class="cart">
    <section>
      <CartResume
        itemsCount={itemsCount}
        subtotalByCurrency={subtotalByCurrency}
      />
    </section>
    <section class="cart_actions">
      <CompleteBuy disabled={itemsCount <= 0} />
    </section>
    <section class="cart_items">
      <h3 class="cart_items__title">Productos</h3>
      <CartListItems cartItems={cartItems} />
    </section>
  </main>
</Layout>

<style>
  .cart {
    max-width: 900px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin: 0 auto;
    padding-inline: 1rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
  }

  .cart_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .cart_actions p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .cart_items {
    background-color: rgb(var(--callout-rgb));
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .cart_items__title {
    padding-bottom: 1rem;

    font-size: larger;
    font-weight: 500;
  }
</style>
