---
import { Routes } from "@utils/routes";

interface Props {
  id: string;
  class?: string;
  marketId: string;
}

const { id, class: className, marketId } = Astro.props;

const baseUrl = import.meta.env.SITE.slice(0, -1);

const link = baseUrl + Routes.markets(marketId);
---

<button
  id={id}
  class:list={[className, "primary_button", "centered_button"]}
  aria-label="Compartir mercado"
  title="Compartir mercado"
>
  <div class="copy_market__link-content">
    <slot />
  </div>
  <div class="copy_market__copied-content">
    <slot name="copied" />
  </div>
  <div class="copy_market__error-content">
    <slot name="error" />
  </div>
</button>

<style>
  .copy_market__link-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .copy_market__copied-content {
    display: none;
  }

  .copy_market__error-content {
    display: none;
  }

  .copy_market__copied {
    .copy_market__link-content {
      display: none;
    }

    .copy_market__copied-content {
      display: block;
    }

    .copy_market__error-content {
      display: none;
    }
  }

  .copy_market__error {
    .copy_market__link-content {
      display: none;
    }

    .copy_market__error-content {
      display: block;
    }

    .copy_market__copied-content {
      display: none;
    }
  }
</style>

<script is:inline define:vars={{ id, link }} type="module">
  const button = document.getElementById(id);

  if (button) {
    button.onclick = async () => {
      try {
        await navigator.clipboard.writeText(link);

        button.classList.add("copy_market__copied");
      } catch (error) {
        button.classList.add("copy_market__error");
      }
    };
  }
</script>
