---
import SlideOutModal from "@components/common/modals/SlideOutModal.astro";
import { getCartItems } from "@data/cart";
import CartItem from "./CartItem.astro";
import { Icon } from "astro-icon/components";

const cartItems = await getCartItems(Astro);
---

<SlideOutModal id="cart" title="Productos en el carro">
  <div class="cart_modal__content">
    {
      cartItems && cartItems.length > 0 ? (
        <ul>
          {cartItems.map((carItem) => (
            <CartItem cartItem={carItem} />
          ))}
        </ul>
      ) : (
        <div class="cart_modal__noItems">
          <Icon name="mdi:cart-off" size={100} />
          <p>No posees productos en el carro de compras.</p>
        </div>
      )
    }
  </div>
</SlideOutModal>

<style>
  .cart_modal__content {
    max-height: 80vh;

    padding-right: 1rem;

    overflow-y: auto;

    -ms-overflow-style: thin; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }

  .cart_modal__noItems {
    min-height: 80vh;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    text-align: center;
  }
</style>
