---
import ProductCard from "../products/ProductCard.astro";
import DeleteProductFromCart from "./forms/DeleteProductFromCart.astro";
import { type CartItemWithProduct } from "@customTypes/cart";
import IncrDecrProductFromCart from "./forms/IncrDecrProductFromCart.astro";

interface Props {
  cartItem: CartItemWithProduct;
}

const { cartItem } = Astro.props;

const product = cartItem.product;
---

<ProductCard class="product_card__incart" product={product}>
  <div class="product_card__actions">
    <DeleteProductFromCart productId={product.id} />
    <IncrDecrProductFromCart
      productId={product.id}
      quantity={cartItem.quantity}
    />
  </div>
</ProductCard>

<style>
  .product_card__actions {
    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
</style>
