---
export const prerender = false;

import SlideOutModal from "@components/common/modals/SlideOutModal.astro";
import { getProductsOnCart } from "@data/cart";
import CartItem from "./CartItem.astro";

const products = await getProductsOnCart(Astro);
---

<SlideOutModal id="cart" title="Productos en el carro">
  <div class="cart_modal__content">
    {
      products && products.length > 0 ? (
        <ul>
          {products.map((product) => (
            <CartItem product={product} />
          ))}
        </ul>
      ) : (
        <p>No posees productos en el carro de compras.</p>
      )
    }
  </div>
</SlideOutModal>

<style>
  .cart_modal__content {
    max-height: 80vh;

    padding-right: 1rem;

    overflow-y: auto;

    -ms-overflow-style: thin; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }
</style>
