---
export const prerender = true;

import CartModal from "@components/markets/cart/CartModal.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Market for me">
  <main class="home"></main>
</Layout>
