---
export const prerender = true;

import UpdateMarket from "../../../components/admin/markets/forms/UpdateMarket.astro";
import MarketLink from "../../../components/admin/markets/links/MarketLink.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import { getMarkets, getMarketById } from "../../../lib/data/markets";

export async function getStaticPaths() {
  const markets = await getMarkets();

  if (!markets) return [];

  return markets.map((market) => ({ params: { marketId: market.id } }));
}

const { marketId } = Astro.params;

const market = await getMarketById(marketId);

if (!market) return;
---

<AdminLayout>
  <main class="update_market">
    <section>
      <MarketLink />
    </section>
    <section class="update_market__content">
      <UpdateMarket server:defer market={market} />
    </section>
  </main>
</AdminLayout>

<style>
  .update_market {
    padding: 2rem;
  }

  .update_market__content {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }
</style>
