---
import UpdateMarket from "@components/admin/markets/forms/UpdateMarket.astro";
import MarketLink from "@components/admin/markets/links/MarketLink.astro";
import AdminLayout from "@layouts/AdminLayout.astro";
import { getMarketById } from "@data/markets";
import MarketProductList from "@components/admin/markets/products/MarketProductList.astro";
import CreateProduct from "@components/admin/markets/products/forms/CreateProduct.astro";
import { currentUser, isManager } from "@auth-astro/session";
import { Routes } from "@utils/routes";
import { Role } from "@prisma/client";

const { marketId } = Astro.params;

if (!marketId) return Astro.redirect(Routes.adminHome);

const user = await currentUser(Astro.request);

if (!user || user.role !== Role.MANAGER) return Astro.redirect(Routes.home);

const market = await getMarketById(marketId);

if (!market) return Astro.redirect(Routes.adminHome);

if (market.userId !== user.id) return Astro.redirect(Routes.home);
---

<AdminLayout>
  <main class="update_market">
    <section class="update_market__buttons">
      <MarketLink />
    </section>
    <section class="update_market__content">
      <UpdateMarket market={market} />
      <div class="update_market__products">
        <CreateProduct marketId={market.id} />
        <MarketProductList products={market.products} />
      </div>
    </section>
  </main>

  <style>
    .update_market {
      padding: 2rem;
    }

    .update_market__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    .update_market__content {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      gap: 4rem;
    }

    .update_market__products {
      max-height: 60vh;

      margin-top: 3rem;

      overflow-y: auto;

      -ms-overflow-style: thin; /* IE and Edge */
      scrollbar-width: thin; /* Firefox */
    }
  </style>
</AdminLayout>
