---
import Currencies from "@components/common/selects/Currencies.astro";
import { Icon } from "astro-icon/components";

interface Props {
  disabled?: boolean;
}

const { disabled } = Astro.props;
---

<form id="complete_buy" class="complete_buy">
  <button
    id="complete_buy__button"
    type="submit"
    class:list={[
      "complete_buy__button",
      "primary_button",
      "centered_button",
    ]}
    disabled={disabled}
  >
    <Icon name="mdi:wallet-bifold" size={25} />
    <span class="loader">Terminar compra</span>
  </button>
  <Currencies title="Moneda con la que desea pagar" />
  <p>
    <Icon name="mdi:lightbulb-question" size={25} color="yellow" />
    Se hará el cambio a esta moneda según la tasa de cambio actual.
  </p>
</form>

<style>
  .complete_buy {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .complete_buy__button {
    gap: 0.5rem;

    padding: 0.6rem;

    font-size: larger;

    background-color: #ffd54c;
  }

  @media (prefers-color-scheme: dark) {
    .complete_buy__button {
      background-color: #5a4605;
    }
  }
</style>

<script>
  import { BUY_SUCCESS_KEY } from "@utils/constants/cart";
  import { Routes } from "@utils/routes";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import easyinvoice from "easyinvoice";
  import { showLoaderOnContainer } from "@utils/utils";

  const form = document.getElementById("complete_buy") as HTMLFormElement;
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const loaderSpan = showLoaderOnContainer("complete_buy__button");
    const { data, error } = await actions.invoices.createInvoice(formData);
    if (data) {
      easyinvoice.download("myInvoice.pdf", data);
    }

    if (loaderSpan) loaderSpan.innerHTML = "Terminar compra";

    if (!error) navigate(`${Routes.home}?${BUY_SUCCESS_KEY}=true`);
  });
</script>
