---
import { actions } from "astro:actions";
---

<form method="POST" action={actions.invoices.createAndSendInvoice}>
  <button type="submit" class:list={["create_send__invoice", "primary_button"]}>
    Terminar compra
  </button>
</form>

<style>
  .create_send__invoice {
    padding: 0.5rem;

    font-size: larger;
  }
</style>
