---
import { Icon } from "astro-icon/components";

import { actions } from "astro:actions";

interface Props {
  productId: string;
}

const { productId } = Astro.props;
---

<form
  id="delete_product__fromcart"
  method="POST"
  action={actions.cart.deleteProductFromCart}
>
  <input type="text" name="productId" value={productId} hidden />
  <button
    class:list={["delete_product", "primary_button", "centered_button"]}
    aria-label="Eliminar producto"
  >
    <Icon name="mdi:delete" size={20} />
  </button>
</form>

<style>
  .delete_product {
    padding: 0.2rem;

    gap: 0.5rem;

    font-size: large;

    cursor: pointer;
  }
</style>
