---
import Currencies from "@components/common/selects/Currencies.astro";
import { Icon } from "astro-icon/components";

interface Props {
  disabled?: boolean;
}

const { disabled } = Astro.props;
---

<form id="generate_invoice" class="generate_invoice">
  <button
    type="submit"
    class:list={[
      "generate_invoice__button",
      "primary_button",
      "centered_button",
    ]}
    disabled={disabled}
  >
    <Icon name="mdi:wallet-bifold" size={25} />
    <span>Generar factura</span>
  </button>
  <Currencies title="Moneda con la que desea pagar" />
  <p>
    <Icon name="mdi:lightbulb-question" size={25} color="yellow" />
    Se hará el cambio a esta moneda según la tasa de cambio actual.
  </p>
</form>

<style>
  .generate_invoice {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .generate_invoice__button {
    gap: 0.5rem;

    padding: 0.6rem;

    font-size: larger;

    background-color: #ffd54c;
  }

  @media (prefers-color-scheme: dark) {
    .generate_invoice__button {
      background-color: #5a4605;
    }
  }
</style>

<script>
  import { CART_CONFIRMATION_KEY } from "@utils/constants/cart";
  import { Routes } from "@utils/routes";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  import easyinvoice from "easyinvoice";

  const form = document.getElementById("generate_invoice") as HTMLFormElement;
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { data, error } = await actions.invoices.generateInvoice(formData);
    if (data) {
      easyinvoice.download("myInvoice.pdf", data);
    }

    if (!error) navigate(`${Routes.cart}?${CART_CONFIRMATION_KEY}=true`);
  });
</script>
