---
import { Currency } from "@prisma/client";

interface Props {
  value?: Currency;
  title?: string;
}

const { value, title } = Astro.props;
---

<label class="currency">
  Moneda
  <select name="currency" title={title}>
    {
      Object.values(Currency).map((currency) => (
        <option value={currency} selected={currency === value}>
          {currency}
        </option>
      ))
    }
  </select>
</label>

<style>
  .currency {
    display: flex;
    flex-direction: column;
  }
</style>
