---
import SlideOutModal from "@components/common/modals/SlideOutModal.astro";
import { getCartItems, getCartSubtotal } from "@data/cart";
import CartListItems from "../CartListItems.astro";
import CartResume from "../CartResume.astro";
import { Routes } from "@utils/routes";
import { Icon } from "astro-icon/components";

const cartItems = await getCartItems(Astro);

const subtotalByCurrency = await getCartSubtotal(Astro);

const itemsCount = cartItems?.length || 0;
---

<SlideOutModal id="cart" title="Productos en el carro">
  <section class="cart_modal__content">
    <CartListItems cartItems={cartItems} />
  </section>
  {
    cartItems && cartItems.length > 0 && (
      <section class="cart_modal__actions">
        <CartResume
          itemsCount={itemsCount}
          subtotalByCurrency={subtotalByCurrency}
        />
        <a
          class:list={["primary_button", "centered_button"]}
          href={Routes.cart}
        >
          <Icon name="mdi:cart-arrow-right" size={25} />
          <span>Ir al carro</span>
        </a>
      </section>
    )
  }
</SlideOutModal>

<style>
  .cart_modal__content {
    height: 65vh;

    padding-right: 1rem;

    overflow-y: auto;

    -ms-overflow-style: thin; /* IE and Edge */
    scrollbar-width: thin; /* Firefox */
  }

  .cart_modal__actions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 1rem;
  }

  .cart_modal__actions a {
    gap: 0.3rem;

    padding: 0.5rem;

    font-size: large;
    font-weight: 500;
    text-align: center;
  }

  /* Mobile */
  @media (max-width: 700px) {
    .cart_modal__content {
      height: 50vh;
    }
  }
</style>
