---
import Modal from "@components/common/modals/Modal.astro";
import { Routes } from "@utils/routes";
import { Icon } from "astro-icon/components";

interface Props {
  open: boolean;
  errorMessage: string | null;
}

const { open, errorMessage } = Astro.props;
---

<Modal id="error_buy" class="error_buy" open={open} backHref={Routes.home}>
  <div class="error_buy__content">
    <Icon name="mdi:basket-remove" size={100} color="red" />
    <h3>¡Hubo un error en la compra!</h3>
    <p>{errorMessage}</p>
    <p>Por favor inténtelo más tarde.</p>
    <a class:list={["error_buy__button", "primary_button"]} href={Routes.cart}>
      Volver a intentar
    </a>
  </div>
</Modal>

<style>
  .error_buy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: var(--border-radius);

    padding: 1rem;
  }

  .error_buy::backdrop {
    backdrop-filter: blur(3px);
  }

  .error_buy__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem;
    padding-top: 1rem;

    text-align: center;
  }

  .error_buy__phone {
    font-size: 32px;
    font-weight: 700;
  }

  .error_buy__button {
    padding: 0.5rem;

    margin-top: 2rem;

    font-size: 30px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    .error_buy {
      width: 90%;
    }

    .error_buy__content {
      padding: 0.5rem;
      padding-bottom: 1rem;
    }

    .error_buy__button {
      margin-top: 1rem;
    }
  }
</style>
