---
import Modal from "@components/common/modals/Modal.astro";
import { Routes } from "@utils/routes";
import { Icon } from "astro-icon/components";

interface Props {
  open: boolean;
  phone: string;
}

const { open, phone } = Astro.props;
---

<Modal id="success_buy" class="success_buy" open={open} backHref={Routes.home}>
  <div class="success_buy__content">
    <Icon name="mdi:basket-check" size={100} color="green" />
    <h3>¡Felicitaciones! Ha completado su compra.</h3>
    <p>
      Un trabajador del mercado se pondrá en contacto con usted muy pronto a
      través del número de teléfono:
    </p>
    <span class="success_buy__phone">{phone}</span>
    <p>Se descargó en su dispositivo una factura de la compra.</p>
    <a
      class:list={["success_buy__button", "primary_button"]}
      href={Routes.home}
    >
      Aceptar
    </a>
  </div>
</Modal>

<style>
  .success_buy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: var(--border-radius);

    padding: 1rem;
  }

  .success_buy::backdrop {
    backdrop-filter: blur(3px);
  }

  .success_buy__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem;
    padding-top: 1rem;

    text-align: center;
  }

  .success_buy__content p {
    max-width: 500px;

    text-wrap: pretty;
  }

  .success_buy__phone {
    font-size: 32px;
    font-weight: 700;
  }

  .success_buy__button {
    padding: 0.5rem;

    margin-top: 2rem;

    font-size: 30px;
  }

  /* Mobile */
  @media (max-width: 700px) {
    .success_buy {
      width: 90%;
    }

    .success_buy__content {
      padding: 0.5rem;
      padding-bottom: 1rem;
    }

    .success_buy__button {
      margin-top: 1rem;
    }
  }
</style>
