---
export const prerender = false;

import { actions } from "astro:actions";
---

<form method="POST" action={"/confirmation" + actions.updateMarket}>
  <!--output: action="/confirmation?_astroAction=newsletter"-->
  <input required type="email" name="email" />
  <label>
    <input required type="checkbox" name="promo" />
    Receive occasional promo emails
  </label>
</form>

<style></style>
