---
import { Icon } from "astro-icon/components";
---

<button
  class:list={["publish_market", "primary_button", "centered_button"]}
  type="submit"
  form="generic_form__market"
>
  <span>Publicar mercado</span>
  <Icon name="mdi:publish" size={20} />
</button>

<style>
  .publish_market {
    padding: 0.5rem;

    gap: 0.5rem;

    font-size: large;
    font-style: normal;
  }
</style>
