---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import { getProducts, getProductById } from "@data/products";

export async function getStaticPaths() {
  const products = await getProducts();

  if (!products) return [];

  return products.map((product) => ({ params: { productId: product.id } }));
}

const { productId } = Astro.params;

const product = await getProductById(productId);

if (!product) return;
---

<Layout title={product.name}>
  <main>
    {product.name}
  </main>
</Layout>