---
import type { Market } from "@prisma/client";
import GenericFormMarket from "./GenericFormMarket.astro";

interface Props {
  market: Market;
}

const { market } = Astro.props;
---

<div class="update_market__form">
  <GenericFormMarket market={market} />
</div>

<style>
  .update_market__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
