<div
  style="
    max-width: 600px;
    border: 1px solid #efefef;
    padding: 16px;
    font-family:
      Segoe UI,
      Tahoma,
      Geneva,
      Verdana,
      sans-serif;
  "
>
  <!-- Header -->
  <div style="margin-bottom: 32px">
    <p>Se ha realizado una compra en su tienda.</p>
    <p><%- invoiceNumber %></p>
  </div>
  <!-- Main Content -->
  <div style="margin-bottom: 32px; color: #222">
    <p style="margin-bottom: 16px">Hola, <%- name %>,</p>
    <p>
      Se ha realizado una compra en su tienda. Usted debe esperar a que un
      cliente lo contacte por Whatsapp y le mandé una factura con el mismo
      número que se muestra en el título de este correo. Si no es así, usted
      puede <strong>devolver el stock</strong> de productos que usó el usuario.
      Dichos productos se muestran en la factura adjunta a este correo.
    </p>
  </div>
  <!-- Footer -->
  <div style="color: #5f5f5f">
    <p>
      Si usted no es el destinatario previsto, por favor ignore este correo.
    </p>
  </div>
</div>
