---
import Layout from "./Layout.astro";
import Sidebar from "../components/admin/sidebar/Sidebar.astro";
import DeleteMarket from "@components/admin/markets/modals/DeleteMarket.astro";

const params = Astro.url.searchParams;

const deleteMarket = params.get("deleteMarket")?.toString();

const open = Boolean(deleteMarket);
---

<Layout
  title="Market Administration"
  description="Managing your marketplace content"
>
  <div class="admin_layout__content">
    <Sidebar />
    <slot />
  </div>
  <DeleteMarket open={open} marketId={deleteMarket} />
</Layout>

<style>
  .admin_layout__content {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }

  /* Mobile */
  @media (max-width: 700px) {
    .admin_layout__content {
      display: block;
    }
  }
</style>
