---
export const prerender = false;

import { getMarketsByUser } from "../../../lib/data/markets";
import { Routes } from "../../../lib/utils/routes";
import { currentUser } from "../../../lib/auth-astro/session";
import { Icon } from "astro-icon/components";

const user = await currentUser(Astro.request);
const userId = user?.id;

if (!userId) return;

const markets = await getMarketsByUser(userId);
---

<details class="sidebar_markets">
  <summary>
    Mercados
    <a
      href={Routes.adminCreateMarket}
      aria-label="Add market"
      title="Add new market"
    >
      <Icon name="mdi:plus" size={20} />
    </a>
  </summary>
  <div>
    <ol class="sidebar_markets__list">
      {
        markets &&
          markets.length > 0 &&
          markets.map((market) => (
            <li>
              <a href={Routes.adminMarkets(market.id)}>{market.name}</a>
            </li>
          ))
      }
    </ol>
  </div>
</details>

<style>
  .sidebar_markets summary {
    user-select: none;
    cursor: pointer;

    position: relative;
  }

  .sidebar_markets summary a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
  }

  .sidebar_markets__list {
    margin-top: 1rem;
    padding-left: 1rem;
  }

  .sidebar_markets__list li {
    list-style: none;

    margin-bottom: 0.5rem;
  }
</style>
