---
import SlideOutModal from "@components/common/modals/SlideOutModal.astro";
import SidebarContent from "./SidebarContent.astro";
import OpenModal from "@components/common/modals/buttons/OpenModal.astro";
import { Icon } from "astro-icon/components";
---

<div class="sidebar_container">
  <div class="sidebar">
    <SidebarContent />
  </div>
  <SlideOutModal id="sidebar_modal" class="sidebar_modal" position="left">
    <SidebarContent />
  </SlideOutModal>
  <OpenModal class="sidebar_modal__button" modalId="sidebar_modal">
    <Icon name="mdi:chevron-right-box" size={30} />
  </OpenModal>
</div>

<style>
  .sidebar_container {
    position: relative;
  }

  .sidebar {
    min-height: 91.3vh;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: rgb(var(--callout-rgb));
  }

  .sidebar_modal__button {
    display: none;
  }

  /* Mobile */
  @media (max-width: 700px) {
    .sidebar_container {
      width: 0;
    }

    .sidebar {
      display: none;
    }

    .sidebar_modal {
      width: 70%;
    }

    .sidebar_modal__button {
      display: block;

      width: 30px;
      height: 30px;

      position: absolute;

      top: -15px;
      right: -30px;

      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
</style>
