---
import { currentUser } from "@auth-astro/session";
import { Routes } from "@utils/routes";
import { actions } from "astro:actions";
import { SignIn } from "auth-astro/components";

interface Props {
  class?: string;
}

const user = await currentUser(Astro.request);

const isAuth = user !== undefined;

const { class: classNames } = Astro.props;
---

<>
  {
    isAuth ? (
      <form
        class="convert_manager"
        method="POST"
        action={Routes.adminCreateMarket + actions.users.createManager}
      >
        <input type="text" name="userId" value={user.id} hidden />
        <button class:list={classNames}>
          <slot />
        </button>
      </form>
    ) : (
      <div class="convert_manager">
        <SignIn class:list={classNames} provider="google">
          <slot />
        </SignIn>
      </div>
    )
  }
</>

<style>
  .convert_manager button {
    cursor: pointer;
  }
</style>
